@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container{
	width: 41.67%;
	height: 450px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.img-box{
	width: 50%;
	height: 100%;
	background: url(./images/image-product-desktop.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 15px 0px 0px 15px;
}
.contentBox{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.content{
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.content .category{
	margin-top: 10px;
	margin-bottom: -10px;
	letter-spacing: 4px;
	color: hsl(228, 12%, 48%);
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	align-self: flex-start;
}
.content .productName{
	font-size: 32px;
	font-family: 'Fraunces', serif;
}
.content .textContent{
	color: hsl(228, 12%, 48%);
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 22px;
}
.price{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.price h1{
	color: hsl(158, 26%, 40%);
	font-family: 'Fraunces', serif;
	font-size: 32px;
}
.price del{
	margin-left: 20px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: hsl(228, 12%, 48%);
}
.cartBtn{
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: hsl(0, 0%, 100%);
	background: hsl(158, 26%, 40%);
	margin-bottom: 15px;
	padding-left: 60px;
	padding-right: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.cartBtn:hover{
	background: hsl(158, 26%, 17%);
}
.attribution{
	margin-top: 200px; 
	margin-bottom: -200px; 
}

@media (max-width: 500px){
	body{
		width: 100%;
		height: 100%;
	}
	.attribution{
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.container{
		width: 100%;
		height: 650px;
		flex-direction: column;
	}
	.img-box{
		width: 90%;
		height: 450px;
		background: url(./images/image-product-desktop.jpg);
		background-size: cover;
		background-position: center;
		border-radius: 15px 15px 0px 0px;
	}
	.contentBox{
		width: 90%;
		height: 100%;
	}
	.content{
		width: 90%;
	}
	.cartBtn{
		padding-right: 85px;
		padding-left: 85px;
	}
}